body{
    background-image: url("wh.jpg");
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
}
#overall{
    border-radius: 9%;
    margin-top: 2%;
    margin-left: 30%;
    margin-right: 30%;
    padding-left: 8%;
    padding-top: 5%;
    padding-bottom: 5%;
    background-image: url('bl.jpg');
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
}
#flexing{
    display: flex;
    gap: 70px;
    
}
#overall input{
    font-size: 25px;
    font-weight: bold;
    font-family: "Rubik", sans-serif;
    margin-right: 100%;
    margin-bottom: 10%;
    padding: 20px;
    border: none;
    border-radius: 50px;
    display: inline-flex; 
    justify-content: center; 
    align-items: center;
}
.num form{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px; 
    max-width: 200px; 
    margin: 0 auto; 
    
}

.num button {
    color: rgb(0, 0, 0);
    font-family: "Rubik", sans-serif;
    width: 80px;  
    height: 80px; 
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    background-color: rgb(177, 177, 177);
    border-radius: 50px;
    display: inline-flex; 
    justify-content: center; 
    align-items: center;
    border: none;
}
.num button:hover{
    background-color:  rgb(197, 197, 197) ;
}
.num button:active{
    background-color:  rgb(245, 245, 245);
}
.symbol form{
    display: grid;
    gap: 10px; 
    max-width: 200px; 
    margin: 0 auto; 
}

.symbol button {
    font-family: "Rubik", sans-serif;
    width: 80px;  
    height: 80px; 
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    background-color: rgb(255, 165, 31);
    border-radius: 50px;
    border: none;
    display: inline-flex; 
    justify-content: center; 
    align-items: center;
}
.symbol button:hover{
    background-color: rgb(255, 176, 57);
}
.symbol button:active{
    background-color: rgb(255, 183, 74);
}