body{
    margin: 0%;
    padding: 0%;
    background-color:black ;
   
}

.top{
    display: flex;
    justify-content: space-between;
    
}

.top h1{
    color: rgb(255, 255, 255);
    margin-left: 30px;
    font-size: 25px;
    font-family: "Poppins", sans-serif;
}

.topnav ul{
    margin-right: 30px;
    margin-top: 25px;
    display: flex;
    justify-content:space-between;
    gap: 40px;
    list-style-type: none;
}


.topnav a{
    
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-decoration: none;
    transition: 0.3s;
}
.topnav a:hover{
    background-color: rgb(66, 66, 66);
    padding: 20%;
    border-radius: 10px;

}

.musicgroup{
    color: white;
    text-align: center;
    background-image: url("bpattern.jpg");
    background-color: #000000;
    background-position: center;
    background-size:cover;
    padding-top: 15%;
    padding-bottom: 13%;
}

.head {
    font-family: "Poppins", sans-serif;
    transform: translateY(-90%);
}

.flexcate{
    display: flex;
    gap: 100px;
    margin-left: 5%;
    margin-right: 5%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.kid:hover{
    opacity: 70%;
}
.teen:hover{
    opacity: 70%;
}
.adult:hover{
    opacity: 70%;
}

.private:hover{
    opacity: 70%;
}


.music-services-section {
    color: white;
    font-family: Arial, sans-serif;
    background-color: #c9c9c9;
    text-align: center;
    padding: 40px 20px;
}

.music-services-section h1 {
    font-size: 36px;
    margin-bottom: 40px;
    color: #000000;
}

.music-services {
    display: flex;
    justify-content: space-around;
    background-color: #c9c9c9;
    padding: 60px 20px;
}

.service-item {
    max-width: 200px;
    text-align: center;
    padding: 3%;
    border-radius: 10px;
    background-color: #e3e3e3;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    color: #000000;
}

.service-item img {
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
}

.service-item h2 {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
}

.service-item p {
    font-size: 14px;
    line-height: 1.6;
    text-align: left;
}

.count{
    text-align: center;
    background-image: url("keys.jpg");
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
    padding: 5%;
    margin: 0%;
}

.count h1{
    color: white;
    font-size: 40px;
}
.count p{
    font-size: 18px;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
}
.flexdown{
    padding-top: 4%;
    color: white;
    display: flex;
    justify-content: space-around;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.flexdown p{
    font-size: 40px;
}

.flexdown p1{
    font-size: 20px;
}