body{
    background-image: url('bg4.jpg');
    background-position: center;
    background-size:cover;
    background-attachment: fixed;  

}
.reg {
    text-align: center;  
}
.reg h1{
    color: white;
    font-family: "Poppins", sans-serif;
    transform: translateY(-90%);
}
.reg form{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.356);
    margin-inline: 20%;
    padding-block: 7%;
    margin-top: 4%;
    border-radius: 8px; 
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5); 
    
}

.box input{
    font-size: 20px;
    color: white;
    width: 80%;
    text-align: left;
    margin: 8px 0;
    border: none;
    border-bottom: 2px solid rgb(255, 255, 255);
    outline: none;  
    border-bottom: 1px solid rgb(255, 255, 255);
    background-color: rgba(240, 248, 255, 0);
    
}

.box input::placeholder{
    font-size: 15px;
    color: white;
    font-family: "Be Vietnam Pro", sans-serif;
    letter-spacing: 2px;
}

.box img{
    margin-right: 10px;
    transform: translateY(35%);
    
}

.sub button{
    font-size: 18px;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
    background-color: rgb(255, 255, 255);
    margin-top: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    
}

.sub button:hover {
    background-color: rgb(240, 240, 240); /* Optional: Add hover effect */
}